{% extends 'base.html' %}

{% block content_title %}
Создать дом
{% endblock %}
{% block content %}
<div class="col-md-6">
    <form action="{{ url_for('build_house') }}" method="POST">
        {% for field in form %}
        <div class="form-group">
            {{ field.label(class='control-label') }}
            {{ field(class='form-control')  }}
        </div>
        {% if field.errors %}
        <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>

        <button type="submit" class="btn btn-success">Создать</button>
    </form>
</div>
{% endblock %}

